In [5]:
cars = ['audi', 'bmw', 'subaru', 'toyota']

if "toyota" in cars:
    print(cars.index("toyota"))

3

In [6]:
"string".upper()

'STRING'

In [7]:
"string".title()

'String'

In [8]:
nn = [11,23,532,1,5577,2,3]

for x in nn:
    if x < 20:
        print(x)
    else:
        print("above threshold")

11
above threshold
above threshold
1
above threshold
2
3

In [9]:
nn = [11,23,532,1,5577,2,3]

for x in nn:
    if x>=3 and x<50:
        print(x)
        
    elif x>5000:
        print("is an outlier")
        
    else:
        print(x*2)

11
23
1064
2
is an outlier
4
3

In [ ]:
person = ["Jeff", 40, "1.1.91"]

dictionary = {
    "label" : values,
    "label2" : value2
    ...    
}

In [11]:
person_dict = {
    "name" : "Jeff",
    "age" : 40,
    "birthdate" : "1.1.91"
}

In [12]:
person_dict

{'name': 'jeff', 'age': 40, 'birthdate': '1.1.91'}

In [13]:
# dictionary

person_dict["age"]

40

In [15]:
# extracting labels
for k in person_dict.keys():
    print(k)

name
age
birthdate

In [16]:
# extracting values
for k in person_dict.values():
    print(k)

jeff
40
1.1.91

In [17]:
# extracting key,value pairs
for k in person_dict.items():
    print(k) # will return tuples

('name', 'jeff')
('age', 40)
('birthdate', '1.1.91')

In [18]:
for k in person_dict.items():
    print(type(k))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [19]:
person_dict1 = {
    "name" : "Jeff",
    "age" : 40,
    "birthdate" : "1.1.91"
}

person_dict2 = {
    "name" : "Ada",
    "age" : 30,
    "birthdate" : "1.1.90"
}

person_dict3 = {
    "name" : "Orson",
    "age" : 40,
    "birthdate" : "1.1.81"
}


persons = [person_dict1, person_dict2, 
           person_dict3]

In [26]:
for person in persons:
    print(person["name"]+", age: "+str(person["age"]))

Jeff, age: 40
Ada, age: 30
Orson, age: 40

In [29]:
type(str(44))

str

In [30]:
def sum_three(x,y,z):
    
    result = x+y+z
    
    return result

sum_three(4,7,11)

22

In [31]:
def maximum(a,b):
    result = a>=b
    
    return result

maximum(4,7)

False

In [32]:
def maximum(a,b):
    if a>=b:
        return a
    else:
        return b
    
maximum(4,7)

7

In [34]:
# sum of elements in a list of integers

def sum_list(l):
    # using a for loop (go through all the elements)
    
    result = 0
    for number in l:
        result = result + number
        print(result)
    
    return result

l = [4,7,1,2]

sum_list(l)

4
11
12
14

14

In [41]:
# count passing grades in a list

def count_passing(grades):
    # use for and if 
    passing = 0
    
    for grade in grades:
        
        if grade >= 2:
            passing = passing +1
        print("current grade: \t"+str(grade)+
              ",\t passing so far: "+str(passing))
    
    return passing


gradelist = [4, 7, 10, -3, 0, 2, -3, 7, 12]

count_passing(gradelist)

current grade: 	4,	 passing so far: 1
current grade: 	7,	 passing so far: 2
current grade: 	10,	 passing so far: 3
current grade: 	-3,	 passing so far: 3
current grade: 	0,	 passing so far: 3
current grade: 	2,	 passing so far: 4
current grade: 	-3,	 passing so far: 4
current grade: 	7,	 passing so far: 5
current grade: 	12,	 passing so far: 6

6